<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome.css}">
</head>
<body>
    <div class="conteiner">
        <fieldset>
            <legend>Dados do Produto</legend>
            <form  >
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" class="form-control" th:value"*{nome}" th:field"*{nome}" placeholder="Nome do produto..." autofocus>
                </div>
                <div class="form-group">
                    <label for="marca">Marca</label>
                    <select id="marca" class="form-control">
                        <option value="">marca</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="departamento">Departamento</label>
                    <select id="departamento" class="form-control">
                        <option th:text="${departamento.nome}" value="th:text=${departamento.nome}">departamento</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="valor">Valor</label>
                    <input name="valor" id="valor" class="form-control">
                </div>
                <button class="btn btn-primary"type="submit">Salvar</button>
            </form>
        </fieldset>
    </div>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/fontawesome.js}"></script>
</body>
</html>